.container{
  max-width:1024px;
  margin: 0 auto;
  min-height:100vh;
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 55px 50px auto;
  grid-template-areas:
    "header"
    "nav"
    "main";

  @include tablet{
    grid-template:55px minmax(500px, 1fr) / 50px minmax(500px, 1fr);
    grid-template-areas:
      "header header"
      "nav main";
  }

  @include desktop{
    grid-template: 60px minmax(500px, 1fr) / 60px minmax(500px, 1fr);
  }
}

.bottomwidgets{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "newmembers" "recent" "message" "settings";

  @include desktop{
    grid-template:1fr 1fr / 1fr 1fr;
    grid-template-areas:
      "newmembers recent"
      "message settings";
  }
}

header{
  display:flex;
  grid-area: header;
  align-items: center;
  background-color:$brand-color-primary;
}

nav{
  grid-area: nav;
  background-color:$brand-color-darker;
}

main{
  grid-area:main;
  background-color:$brand-color-neutral;
}

.newmembers{
  grid-area:newmembers;
}

.recent{
  grid-area:recent;
}

.message{
  grid-area:message;
}

.settings{
  grid-area:settings;
}
