//colors
$brand-color-primary:#459b80;
$brand-color-darker: darken($brand-color-primary, 15%);
$brand-color-neutral: #f7f7f7;
$brand-color-mutual: #f7f7f7;
$brand-color-mutual-darker: darken($brand-color-mutual, 10%);

//breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;

//stylesheet
$borderradius:5px;

//fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
$brand-font-primary: 'PT Sans', sans-serif;
