@import 'variables',
        'mixins',
        'grid';

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: $brand-font-primary;
}

body{
  background-image:url('../img/background.png');
}

header {
  padding:7px 10px;
  img{
      height:100%;
  }
  @include tablet{
    padding-left:20px;
  }
}

nav{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  a img{
    margin:15px auto;
    height:25px;
    opacity:0.5;
    transition:opacity 0.3s;
    &:hover{
      opacity:1;
    }
  }
  @include tablet{
    flex-direction: column;
    justify-content:flex-start;
    padding-top:25px;

  }
}
