@import 'variables',
        'mixins',
        'grid',
        'animations';

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: $brand-font-primary;
}

body{
  background-image:url('../img/background.png');
}

header {
  padding:7px 10px;
  @include tablet{
    padding: auto 20px;
  }
  display:flex;
  grid-area: header;
  align-items: center;
  background-color:$brand-color-primary;
  .bell{
    height:50%;
    &:hover{
      animation: bellalert 1s infinite linear;
    }
  }
  .logo{
    margin-right:auto;
    height:100%;
  }
  .user{
    display:flex;
    align-items:center;
    height:100%;
    border-left: 2px $brand-color-darker dotted;
    padding-left:10px;
    margin-left:10px;
    .userimage{
      width:30px;
      border-radius:100%;
      margin-right:10px;
    }
    .username{
      color:white;
      font-size:0.8rem;
    }
  }
}

nav{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  a img{
    margin:15px auto;
    height:25px;
    opacity:0.5;
    transition:transform 0.2s, opacity 0.2s;
    &:hover{
      opacity:1;
      transform:scale(1.1);
    }
  }
  @include tablet{
    flex-direction: column;
    justify-content:flex-start;
    padding-top:25px;

  }
}
