@import 'variables',
        'mixins',
        'grid',
        'animations',
        'notifications';

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: $brand-font-primary;
}

*:focus {
  outline:none;
}

h1,h2,h3,h4,h5,h6{
  color:$brand-color-darker;
}

h1{
  font-size:1.4em;
  margin-bottom:10px;
}

h2{
  font-size:0.8em;
  text-transform: uppercase;
  margin-bottom:20px !important;
}

body{
  background-image:url('../img/background.png');
}


header {
  padding:7px 10px;
  @include tablet{
    padding: auto 20px;
  }
  display:flex;
  grid-area: header;
  align-items: center;
  background-color:$brand-color-primary;
  .bell{
    height:25px;
    cursor:pointer;
    &:hover{
      animation: bellalert 1s infinite linear;
    }
  }
  .logo{
    margin-right:auto;
    height:50px;
  }
  .user{
    display:flex;
    align-items:center;
    height:100%;
    border-left: 2px $brand-color-darker dotted;
    padding-left:10px;
    margin-left:10px;
    .userimage{
      width:30px;
      border-radius:100%;
      margin-right:10px;
    }
    .username{
      color:white;
      font-size:0.8rem;
    }
  }
}

nav{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  a img{
    margin:15px auto;
    height:25px;
    opacity:0.5;
    transition:transform 0.2s, opacity 0.2s;
    &:hover{
      opacity:1;
      transform:scale(1.1);
    }
  }
  @include tablet{
    flex-direction: column;
    justify-content:flex-start;
    padding-top:25px;

  }
}

main{
  padding:10px;
  @include tablet{
    padding:20px;
  }
  .topsection{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin-bottom:20px;
    @include tablet{
      flex-direction:row;
      justify-content: space-between;
    }

    input{
      width:100%;
      padding:10px;
      border-radius: $borderradius;
      border:2px $brand-color-mutual-darker solid;
      &:focus{
        border:2px $brand-color-primary solid;
      }
      @include tablet{
        width:300px;
      }
    }
  }

  .alert{
    background-color:$brand-color-primary;
    padding:10px 15px;
    border-radius:$borderradius;
    color:white;
    display:flex;
    justify-content: space-between;
    span{
      cursor:pointer;
    }
    opacity:1;
    transition: opacity 0.3s linear;
  }

  .charts{
    .chartbuttons{
      ul li{
        display:inline-block;
        padding:0;
        font-size:0.8em;
        background-color:$brand-color-primary;
        color:white;
        padding:2px 10px;
        border-radius:10px;
        cursor:pointer;
        &.selected{
          background-color:$brand-color-secondary;
        }
      }
    }
    .chart-container{
      width:97% !important;
      margin: 0 auto;
    }
    padding: 20px 0;
    .line{
      padding-bottom:30px;
    }
    .bar,
    .donut{
      padding:30px 0;
      border-top: 1px solid $brand-color-mutual-darker;
    }
  }

  .social{
    padding:20px 0;
    border-top:1px $brand-color-mutual-darker solid;
    border-bottom:1px $brand-color-mutual-darker solid;

    .card-container{
      display:flex;
      flex-direction: column;
      .card{
        border:2px $brand-color-mutual-darker solid;
        border-radius:$borderradius;
        padding:15px 10px;
        display:flex;
        align-items:center;
        justify-content: center;
        margin-bottom:10px;
        h3{
          font-size:0.9em;
        }
        img{
          width:70px;
          height:70px;
          margin-right:20px;
        }
        span{
          font-size:2.3em;
          line-height:1;
        }
      }
      @include desktop{
        flex-direction: row;
        justify-content: space-between;
        .card{
          width:30%;
          justify-content:flex-start;
          img{
            margin-left:20px;
          }
        }
      }
    }
  }

  .bottomwidgets{

    >div{
      padding:20px 0;
      border-bottom:1px solid $brand-color-mutual-darker;



      @include desktop{
        &:nth-of-type(2n+1){
          border-right:1px solid $brand-color-mutual-darker;
        }&:nth-of-type(2n){
          padding-left:20px;
        }
      }
    }

    .newmembers .actioncontainer,
    .recent .actioncontainer{
      display:flex;
      align-items:center;
      padding: 5px 0;
      font-size:0.8em;
      &:not(:last-of-type){
        border-bottom:1px solid $brand-color-mutual-darker;
      }
      img:nth-of-type(1){
        height:35px;
        border-radius:100%;
        margin-right:10px;
      }
      >p{
        margin-left:auto;
        font-size:0.7rem;
      }
    }

    .newmembers .actioncontainer{
      .details{
        p{
          font-weight:700;
          padding-right:60px;
        }
        span{
          font-size:0.7rem;
        }
      }
      @include desktop{
        padding-right:20px;
      }
    }
    .recent .actioncontainer{
      .details{
        p{
          padding-right:20px;
        }
        span{
          font-weight:700;
        }
      }
      img:nth-of-type(2){
        height:15px;
        margin-left:auto;
        cursor:pointer;
        opacity:0.8;
        transition:opacity 0.3s;
        &:hover{
          opacity:1;
        }
      }
    }
    button{
      width:100%;
      border:0;
      background-color:$brand-color-primary;
      color:white;
      border-radius:$borderradius;
      font-weight:700;
      text-transform: uppercase;
      font-size:1em;
      cursor:pointer;
      transition:background-color 0.2s;
      padding:10px;
      &:hover{
        background-color:$brand-color-darker;
      }
    }
    .message{
      @include desktop{
        padding-right:20px;
      }
      input,
      textarea{
        width:100%;
        border: 2px solid $brand-color-mutual-darker;
        border-radius:$borderradius;
        padding:5px 10px;
        margin-bottom:10px;
        &:focus{
          border-color: $brand-color-primary;
        }
      }
    }

    .settings{
      p{
        font-size:0.9em;
      }
      .email,
      .public{
        display:flex;
        margin-bottom:20px;
      }

      .switch {
        margin-left:auto;
        input {
          position: absolute;
          opacity: 0;
        }
        display: inline-block;
        font-size: 20px;
        height: 1em;
        width: 2em;
        border:2px solid $brand-color-primary;
        background: $brand-color-mutual-darker;
        border-radius: 1em;
        div {
          height: 100%;
          width:50%;
          border-radius: 1em;
          background: #FFF;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          transition: all 300ms;
        }
        input + div{
          background-color:darken($brand-color-mutual-darker, 20%);
        }
        input:checked + div {
          -webkit-transform: translate3d(100%, 0, 0);
          -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
          background-color:$brand-color-primary;
        }
      }

      select{
        width:100%;
        padding:5px 10px;
        border-radius:$borderradius;
        margin-top:20px;
      }
      .buttons{
        margin-top:28px;
        display:flex;
        justify-content: space-between;
        button{
          width:48%;
          &[type="reset"]{
            background-color:#999;
            &:hover{
              background-color:#555;
            }
          }
        }
      }
    }

  }
}
