@import 'variables',
        'mixins',
        'grid',
        'animations';

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: $brand-font-primary;
}

h1,h2,h3,h4,h5,h6{
  color:$brand-color-darker;
}

h1{
  font-size:1.4em;
  margin-bottom:10px;
}

h2{
  font-size:1.2em;
}

input:focus {
    outline:none;
}

body{
  background-image:url('../img/background.png');
}

header {
  padding:7px 10px;
  @include tablet{
    padding: auto 20px;
  }
  display:flex;
  grid-area: header;
  align-items: center;
  background-color:$brand-color-primary;
  .bell{
    height:50%;
    &:hover{
      animation: bellalert 1s infinite linear;
    }
  }
  .logo{
    margin-right:auto;
    height:100%;
  }
  .user{
    display:flex;
    align-items:center;
    height:100%;
    border-left: 2px $brand-color-darker dotted;
    padding-left:10px;
    margin-left:10px;
    .userimage{
      width:30px;
      border-radius:100%;
      margin-right:10px;
    }
    .username{
      color:white;
      font-size:0.8rem;
    }
  }
}

nav{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  a img{
    margin:15px auto;
    height:25px;
    opacity:0.5;
    transition:transform 0.2s, opacity 0.2s;
    &:hover{
      opacity:1;
      transform:scale(1.1);
    }
  }
  @include tablet{
    flex-direction: column;
    justify-content:flex-start;
    padding-top:25px;

  }
}

main{
  padding:15px;

  .topsection{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin-bottom:10px;
    @include tablet{
      flex-direction:row;
      justify-content: space-between;
    }

    input{
      width:100%;
      padding:10px;
      border-radius: $borderradius;
      border:2px $brand-color-primary solid;
      &:focus{
        border:2px $brand-color-darker solid;
      }
      @include tablet{
        width:300px;
      }
    }
  }

  .alert{
    background-color:$brand-color-primary;
    padding:10px 15px;
    border-radius:$borderradius;
    color:white;
    display:flex;
    justify-content: space-between;
    span{
      cursor:pointer;
    }
    opacity:1;
    transition: opacity 0.3s linear;
  }

  .social{
    padding:15px;
    border-top:1px $brand-color-mutual-darker solid;
    border-bottom:1px $brand-color-mutual-darker solid;
    h2{
      margin-bottom:10px;
    }
    .card-container{
      display:flex;
      flex-direction: column;
      .card{
        border:2px $brand-color-mutual-darker solid;
        border-radius:$borderradius;
        padding:15px 10px;
        display:flex;
        justify-content: center;
        margin-bottom:10px;
        img{
          width:70px;
          height:70px;
          margin-right:20px;
        }
        span{
          font-size:2em;
        }
      }
      @include desktop{
        flex-direction: row;
        justify-content: space-between;
        .card{
          width:30%;
          justify-content:flex-start;
          img{
            margin-left:20px;
          }
        }
      }
    }
  }
}
